* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    
    background-color: #eaf6ff;
    font-family: "Inter", arial, sans-serif;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding: 1em;
    background-color: #d9eeff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #43718d;
}

section {
    margin-top: 40px
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
}

.text-content {
    max-width: 600px;
}

.container img {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.container p {
    font-size: 1.1rem;
}

#landing {
    min-height: 45em;
}

.cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
  background-color: #555;
}

@media only screen and (max-width: 48em) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
        padding: 1em;
    }

    .container img {
        width: 90%;
        height: auto;
        margin-top: 1em;
    }

    p {
        text-align: center;
    }

    nav ul {
        gap: 2em;
    }

    body {
        text-align: center;
    }

}

@media only screen and (min-width: 48em) {
    .container img {
        max-height: 40vh;
        display: block;
    }
}


@media only screen and (min-width: 75em) {
    #landing {
        min-height: 70em;
    }
    .container img {
        max-height: 40vh;
    }
}
