* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333A3F;
    background-color: #F3F3F3;
}

.header {
    background-color: #41a4f0;
    text-decoration: none;
    list-style-type: none;
    height: 5vh;
}

.header li {
    display: inline-block;
    
}

.header li a {
    color: #F2F3F4;
    text-decoration: none;
    font-size: 2rem;
}

#feedback {
    float: left;
}

.page {
    padding: 10vh 20vw 40vh 20vw;
    font-size: 1.5rem;
    text-align: center;    
}

.page h1 {
    font-size: 60px;
    padding-bottom: 20vh;
}

.input {
    margin: 60px 0;
    text-align: center;
}

.feedback input {
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

